// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-at-startup "noctalia"
    spawn-at-startup "easyeffects" "--gapplication-service"
    spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
    spawn-at-startup "hypridle"
    spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

    // sh expands $HOME; niri does not expand ~ in spawn-at-startup.
    spawn-at-startup "sh" "-c" "$HOME/.config/niri/startup.fish"
